<h1>New basket</h1>
<%= form_for :basket, url: baskets_path do |f| %>

    <p>
        <%= f.label :Title %>
        <%= f.text_area :title %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>